[Unit]
Description=pi-peer-healthcheck
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/pi-peer-healthcheck/pi-peer-healthcheck.conf
ExecStart=/usr/bin/python3 /usr/local/bin/pi-peer-healthcheck.py --peers $PEERS --daemonize --dnscheck --interval=$INTERVAL --email=$EMAIL
Restart=always

[Install]
WantedBy=multi-user.target